<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>authentication</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content >-->
<!--  <ion-card class="login-block">-->
<!--    <ion-text class="login-block__title" color="primary">-->
<!--      <h3>Log In</h3>-->
<!--    </ion-text>-->

<!--    <ng-form class="auth-form">-->
<!--      <ion-item>-->
<!--        <ion-input placeholder="Enter email"></ion-input>-->
<!--      </ion-item>-->

<!--      <ion-item>-->
<!--        <ion-input type="password" placeholder="Enter password"></ion-input>-->
<!--      </ion-item>-->
<!--    </ng-form>-->

<!--    <ion-button class="login-block__btn" (click)="goHome()">Log In</ion-button>-->
<!--  </ion-card>-->


<!--</ion-content>-->

<app-login>

</app-login>

