.login-block {

  margin: 100px auto 0;
  max-width: 500px;

  @media screen and (max-width: 768px) {
    margin: 70px 15px 0;
  }

  &__btn {
    margin: 20px  auto;
    max-width: 200px;
    display: block;
  }

  &__title {
    text-align: center;
    margin-bottom: 10px;
  }
}

.auth-form {
  padding: 30px 10px;
  display: block;
  max-width: 500px;
  background: white;
}
