<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="login-block">
    <ion-text class="login-block__title" color="primary">
      <h3>Log In</h3>
    </ion-text>

    <form class="auth-form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Enter email</ion-label>
        <ion-input [(ngModel)]="login" #loginField="ngModel" type="text" name="login" required email></ion-input>
      </ion-item>

      <div *ngIf="loginField.invalid && (loginField.dirty || loginField.touched)">
        <p *ngIf="loginField.hasError('required')">Email is required.</p>
        <p *ngIf="loginField.hasError('email')">Invalid email format.</p>
      </div>

      <ion-item>
        <ion-label position="floating">Enter password</ion-label>
        <ion-input [(ngModel)]="password" #passwordField="ngModel" type="password" name="password" required minlength="5"></ion-input>
      </ion-item>
      <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
        <p *ngIf="passwordField.hasError('required')">Password is required.</p>
        <p *ngIf="passwordField.hasError('minlength')">Password must be at least 5 characters long.</p>
      </div>

      <ion-button type="submit" class="login-block__btn">Log In</ion-button>
    </form>
  </ion-card>
</ion-content>



