<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home page</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="contacts.length > 0" class="contacts-list">
    <ion-item *ngFor="let contact of contacts" (click)="goToSecondlPage(contact)" class="contacts-list__item">
      <ion-label>
        <h2 class="contacts-list__item-title">{{ contact?.name?.display }}</h2>

        <div>
          <ion-text *ngFor="let phone of contact?.phones; let i = index">
            <span *ngIf="i > 0">, </span>{{phone?.number}}
          </ion-text>
        </div>
      </ion-label>

    </ion-item>
  </ion-list>

  <app-spiner *ngIf="!contacts.length" />

</ion-content>



